<ion-header>
  <ion-navbar>
    <ion-title>
      Messwerte MQTT
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="background-color: antiquewhite;">
  <p><b>Raum:</b> {{r}}</p>
  <p><b>Temperatur:</b>{{temp}} °C</p>
  <p><b>Luftfeuchtigkeit:</b> {{h}} %</p>
  <p><b>Zeit:</b> {{t}} Uhr</p>
  <h1 style="color: #f53d3d">{{warning}}</h1>
</ion-content>
