<script src="home.ts"></script>
<ion-header >
  <ion-navbar>
    <ion-title><b>{{room}}</b></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="background-color: antiquewhite;">
  <p>FBase Temp: {{fh}} °C</p>
  <p>Fbase Humi: {{ft}} %</p>
  <p>Zeit: {{time}} Uhr</p>
  
  <h1>{{warning}}</h1>
</ion-content>
